/.project
/.classpath
/target/
/target
/.settings
/SpringBoot-authservice/target
/SpringBoot-authservice/.settings
/SpringBoot-authservice/.project
/SpringBoot-authservice/.classpath
/SpringBoot-simpletest/.project
/SpringBoot-simpletest/.settings
/SpringBoot-simpletest/target
/SpringBoot-simpletest/.classpath
/SpringBoot-orderservice/.project
/SpringBoot-orderservice/.settings
/SpringBoot-orderservice/target
/SpringBoot-orderservice/.classpath
